.html{
    margin-top: 120px;
}
.niggabackground{
    color: white;
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
  
}
.playnow{
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
}