section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

body{
    scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(300px);
  scroll-snap-type: y mandatory;
}

.guide{
    position: fixed;
    z-index: 2;
    top: 50%;
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}

.guide p{
    user-select: none;
}