body {
    padding: 0px;
    margin: 0;
    margin-top: 100px;
}
header {
    position: relative;
    height: 100vh;
    width: 100vw;
    max-height: 1080px;
    max-width: 1920px;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    top: -50px;
  
}
header::before {
    content: "";
    background: url(../img/BgMP.png);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
    background-size:  cover;
    background-position: center center;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 767px) {
    header h1 {
        font-size: 100px;
        font-weight: 700;
        text-transform: uppercase;
       text-shadow: 0px 0px 5px #4a4848, 0px 0px 7px #4a4848;
        z-index: 999;
    }
    header
    header p {
        display: none;
    }
    header a {
        padding: 5px 15px;
    }
}
header a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: #262626;
    padding: 10px 30px;
    margin-top: 10px;
    filter: brightness(1);
    
}
header p {
    margin: 0 30%;
    text-align: center;
    color: #fff;
    filter: brightness(1);
}
header h1 {
    user-select: none;
    z-index: 999;
    animation: blurin 2s ease-in;
    text-transform: uppercase;
    font-size: 6.5em;
    font-weight: 700;
    margin: 0 30%;
    text-align: center;
    color: #fff;
    filter: brightness(1);
    text-shadow: 0px 0px 5px #4a4848, 0px 0px 7px #4a4848;
    z-index: 999;
}
header h1:hover{
    animation: blur 2s ease-in-out infinite;
}
.Bdownload {
    border-radius: 10px;
    transition-duration: 0.2s;
}
.Bdownload:hover {
    transition-duration: 0.2s;
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
}
.Bdownload:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px black;
}
.Bdownload:active:after {
    box-shadow: 0 0 0 0 black;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0s;
}
.Bdownload:active {
    top: 1px;
}
.content {
    max-width: 1720px;
    margin: auto;
}
.cardTitle {
    font-size: 50px;
}
.CrdRightSide {
    background-color : transparent;
}
.heroesDesc {
    display: inline-block;
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 15px;
    padding: 11px;
    width: 79px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
}
.heroesDesc:hover {
    background-color: #e0e0e0;
}
.butIcoHero {
    max-width: 9px;
    min-width: 9px;
}
.heroImg {
    max-height: 600px;
    height: 450px;
    min-width: 2px;
    width: 500px;
}
  .animate-image {
    animation: wipe-in-top-right 1s;
  }
  
  @keyframes wipe-in-top-right {
    from {
      clip-path: polygon(-50% 50%, 50% 150%, 50% 150%, -50% 50%);
    }
    to {
      clip-path: polygon(50% -50%, 150% 50%, 50% 150%, -50% 50%);
    }

  } 

  [transition-style="out:polygon:opposing-corners"] {
    animation: 1.5s cubic-bezier(.25, 1, .30, 1) polygon-out-opposing-corners both;
  }

.item-scroll{
    opacity: 0;
}

@keyframes blur {
    from {
        text-shadow: 0px 0px 25px #557d94a1,
            0px 0px 50px #5084a78e, 0px 0px 50px #b5b1b183, 0px 0px 50px #7b96b87e,
            0px 0px 1000px #7b96b871, 0px 10px 50px #7b96b865, 0px 10px 50px #7b96b862,
            0px 10px 50px #7b96b873, 0px 10px 50px #7b96b818, 0px -10px 50px #7b96b813,
            0px -10px 50px #7b96b802;
    }
}

@keyframes blurin {
    from {
        text-shadow: 0px 0px 25px  #557d94a1,
            0px 0px 50px #5084a78e, 0px 0px 50px #b5b1b183, 0px 0px 50px #7b96b87e,
            0px 0px 1000px #7b96b871, 0px 10px 50px #7b96b865, 0px 10px 50px #7b96b862,
            0px 10px 50px #7b96b873, 0px 10px 50px #7b96b818, 0px -10px 50px #7b96b813,
            0px -10px 50px #7b96b802;
    }
    }

.appear {
        transition: all 0.8s;
        opacity: 0;
        transform: translateY(40px);
     }
.appear.inview {
        opacity: 1;
        transform: none;
        transition-delay: 0.3s;
      }
.ewe{
    background-color: transparent;
    width: 90%;
    height: 70%;
}
.nwn {
    position: relative;
    height: 660px;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex; 
    margin-bottom: 10px;
}
.nwn::before {
    content: "";
    background: url(../img/hola.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 767px) {
    .nwn h1 {
        font-size: 30px;
    }

    .nwn p {
        display: none;
    }

    .nwn a {
        padding: 5px 15px;
    }
}

.nwn a {
    text-transform: uppercase;
    text-decoration: none;
    background: #262626;
    padding: 10px 30px;
    margin-top: 10px;
    filter: brightness(1);
}

.nwn p {
    margin: 0 10%;
    text-align: center;
    filter: brightness(1);
}

.nwn h1 {
    margin: 0 30%;
    text-align: center;
}
.nwn h5 {
    margin: 0 10%;
    text-align: center;
}
.potente{
    display: flex;
    justify-content: center;
}

.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 70px;
  }
  
  .arrows path {
    stroke: #000000;
    fill: transparent;
    stroke-width: 2px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
  }
  
  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  @-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  .arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
  }
  
  .arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
  }
  
  .arrows path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
  }


.notibg{
 background-image: url(https://rare-gallery.com/thumbs/917112-adventurers-cats-fantasy-art-animals-artwork.jpg);
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
}
.niggabackground{
    background-color: rgba(0,0,0,.8);
}
.noti{
    color: white;
    margin-left: -20px;
}
.linknot{
    color: white;
    background-color: transparent;
    border:none;
    border-top: 0.7px solid rgba(255, 255, 255, 0.85);
    padding: 10px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
}


  