body {
    padding: 0px;
    margin: 0;
    margin-top: 100px;
}

.img-title {
    font-size: 50px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    text-align: center;
}

header {
    position: relative;
    height: 600px;
    max-width: 1920px;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
}

header::before {
    content: "";
    background: url(https://giffiles.alphacoders.com/153/15370.gif);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 767px) {
    header h1 {
        font-size: 30px;
    }

    header p {
        display: none;
    }

    header a {
        padding: 5px 15px;
    }
}

header a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: #262626;
    padding: 10px 30px;
    margin-top: 10px;
    filter: brightness(1);
}

header p {
    margin: 0 30%;
    text-align: center;
    color: #fff;
    filter: brightness(1);
}

header h1 {
    margin: 0 30%;
    text-align: center;
    color: #fff;
    filter: brightness(1);
}

.Bdownload {
    border-radius: 10px;
    transition-duration: 0.2s;
}

.Bdownload:hover {
    transition-duration: 0.2s;
    background-color: #ffffff;
    color: black;
    border-radius: 10px;


}

.Bdownload:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px black;


}

.Bdownload:active:after {
    box-shadow: 0 0 0 0 black;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0s;
}

.Bdownload:active {
    top: 1px;
}

.content {
    max-width: 1720px;
    margin: auto;
    
}

.cardTitle {
    font-size: 50px;
}

.CrdRightSide {
    background: rgb(33, 37, 41);
    color: white;
}

.Descripcion {
    color: white;
}

.redes {
    border-radius: 15px;
    background-color: #262626;
    width: 90%;
    padding: 1px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 8%;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.horizontalrule{
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 1em;
    color: white;
    opacity: 100%;
    height: 0.1em;
    max-width: 90%;
 
}
.redes_icon {
    display: contents;
    width: 20px;
}

.OurRed {
    margin: 10px;
    text-align: center;
    justify-self: center;
    margin-top: 10px;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: 30px;
}

.Red {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin: 10px;
    margin-top: 0px;
}

.Red:hover {
    transition-duration: 0.2s;
    background-color: black;
}

.heroesDesc {
    display: inline-block;
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 15px;
    padding: 11px;
    width: 79px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
}

.heroesDesc:hover {
    background-color: #e0e0e0;
}
.butIcoHero {
    max-width: 9px;
    min-width: 9px;
}
.heroImg {
    max-height: 500px;
}
/* #myImage {
    animation: wipe-in-top-right 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  } */
/*  .animate-image {
    animation: wipe-in-top-right 1s;
  }
   */
/*  @keyframes wipe-in-top-right {
    from {
      clip-path: polygon(-50% 50%, 50% 150%, 50% 150%, -50% 50%);
    }
    to {
      clip-path: polygon(50% -50%, 150% 50%, 50% 150%, -50% 50%);
    }
  } */

.animate-image {
    animation: polygon-out-opposing-corners 1s;
}
@keyframes polygon-out-opposing-corners {
    from {
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    }
    to {
        clip-path: polygon(0 0, 50% 50%, 100% 100%, 50% 50%);
    }
}

[transition-style="out:polygon:opposing-corners"] {
    animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) polygon-out-opposing-corners
        both;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/noisy_net.png")
        repeat;
}
.area { 
    max-height: 50px;
    margin: 1em;
    text-align: center;
    font-size: 6.5em;
    color: #ffffff;
    letter-spacing: -7px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0px 0px 5px #4a4848, 0px 0px 7px #4a4848;
    z-index: 999;
    animation: blurin 2s ease-in
}
 .area:hover{
    animation: blur 2s ease-in-out infinite;

}

@keyframes blur {
    from {
        text-shadow: 0px 0px 25px #557d94a1,
            0px 0px 50px #5084a78e, 0px 0px 50px #b5b1b183, 0px 0px 50px #7b96b87e,
            0px 0px 1000px #7b96b871, 0px 10px 50px #7b96b865, 0px 10px 50px #7b96b862,
            0px 10px 50px #7b96b873, 0px 10px 50px #7b96b818, 0px -10px 50px #7b96b813,
            0px -10px 50px #7b96b802;
    }
}

@keyframes blurin {
    from {
        text-shadow: 0px 0px 25px  #557d94a1,
            0px 0px 50px #5084a78e, 0px 0px 50px #b5b1b183, 0px 0px 50px #7b96b87e,
            0px 0px 1000px #7b96b871, 0px 10px 50px #7b96b865, 0px 10px 50px #7b96b862,
            0px 10px 50px #7b96b873, 0px 10px 50px #7b96b818, 0px -10px 50px #7b96b813,
            0px -10px 50px #7b96b802;
    }
    }
}
