/* 31/03/23 Hecho por lucas y manuel  */
.search-bar {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
}

.input-search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.search-bar:hover,
.search-bar:valid {
    width: 200px;
    cursor: pointer;
}

.search-bar:hover .input-search,
.search-bar:valid .input-search {
    display: block;
}

.search-bar:hover .fa,
.search-bar:valid .fa {
    background: #07051a;
    color: white;
}

.a-search {
    display: none;
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    color: white;
    text-align: center;
    width: 100%;
}

.search-bar:valid a {
    display: block;
}

.dropdownDark{
    background-color: var(--bs-body-color);
    color:white;
    width: 100%;
}

.dropdownText{
    color:white;
}