.contain{
    background: url(https://w0.peakpx.com/wallpaper/118/84/HD-wallpaper-anime-landscape-spring-cherry-blossom-sakura-bloom-trees-path-anime.jpg);
	background-repeat: no-repeat;
    background-size: cover;
}
.bodyregister{
    margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
/* 	background: linear-gradient(to bottom, #1d0c29, #302b63, #24243e);*/

}
.main{
	width: 350px;
	height: 550px;
	background: rgba(51, 43, 129, 0.5);
	opacity: 0.8;
	overflow: hidden;
/* 	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
 */	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
.text-register{
	color: #fff;
	font-size: 1em;
	justify-content: center;
	display: flex;
	margin:10px
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 50px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.Auth_input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #6d44b8;
}
.login{
	height: 450px;
	background: #eee;
	border-radius: 25% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #573b8a;
	transform: scale(.6);
}
.text-login{
	color: #573b8a;
	font-size: 1em;
	justify-content: center;
	display: flex;
	margin:10px;
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
.leaves{
	position:absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display:  flex;
	justify-content: center;
	z-index: 1;
	pointer-events: none;
}
.leaves .set{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	pointer-events: none;
}
.leaves .set div{
	position: absolute;
	display: block;
}
.leaves .set div:nth-child(1){
left: 20%;
animation: animate 17s linear infinite;
}
.leaves .set div:nth-child(2){
left: 50%;
animation: animate 13s linear infinite;
}
.leaves .set div:nth-child(3){
 left: 70%;
 animation: animate 19s linear infinite;
}
.leaves .set div:nth-child(4){
left: 5%;
animation: animate 15s linear infinite;
}
.leaves .set div:nth-child(5){
left: 85%;
animation: animate 18s linear infinite;
}
.leaves .set div:nth-child(6){
left: 90%;
animation: animate 12s linear infinite;
}
.leaves .set div:nth-child(7){
left: 15%;
animation: animate 14s linear infinite;
}
.leaves .set div:nth-child(8){
left: 60%;
animation: animate 15s linear infinite;
}

@keyframes animate
{
  0%
  {
	opacity: 0;
	top:-10%;
	transform: translateX(20px) rotate(0deg);

  }
  10%
  {
	opacity: 1;
  }
  20%
  {
	transform: translateX(-20px) rotate(45deg);
  }
  40%
  {
	transform: translateX(-20px) rotate(90deg);
  }
  60%
  {
	transform: translateX(20px) rotate(180deg);
  }
  80%
  {
	transform: translateX(-20px) rotate(45deg);
  }
  100%
  {
	top:100%;
	transform: translateX(20px) rotate(225deg);
  }
}