.item{
 margin-bottom: 1.5em;
 margin-right: auto;
}

.card-body{
    background-image: url(../img/vbucks.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: brightness(0.9);
    height: 15em;
}

.item .btn, .item .btn-primary{
   opacity: 0%;
   position: absolute;
   bottom: 1%;
   padding: 0.1em;
}
.card-body:hover .btn{
    transition: 0.5s;
    opacity: 100%;
    bottom: 20%;
    padding: 1em;
 }

.card-title{
    text-align: center;
}

.card-text{
    text-align: center;
     color: rgb(66, 66, 66);
}
